.page-content {
    background-color: #172b4d;
    background-image: url('/../../../assets/img/favicon/theme.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 70vh;
    overflow: hidden;
}